* {
    -outline: 1px solid #f00;
}

.header {
    background: #f7f7f7;
}

.header .inner {
    position: relative;
    display: flex;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

.header .inner h1 {
    text-align: center;
    display: inline-block;
    font-size: 0;
}

.header .inner .headLogo {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.header .inner .gnb {
    /* position: absolute; */
    margin: 0 auto;
    /* left: 50%;
    transform: translate(-50%, 0); */
}

.header .inner .gnb ul {
    display: flex;
    gap: 60px;
    line-height: 100px;
    justify-content: space-between;
}

.header .inner .gnb ul a {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 900px;
    color: #111;
}

.header .inner .util {
    position: absolute;

    right: 0;
}

.header .inner .util ul {
    display: flex;
    gap: 30px;
    line-height: 100px;
    justify-content: center;
}

.header .inner .util ul a {
    display: block;
}

.mainVisual {

    position: relative;

}

.mainVisual .main_slide figure {
    position: absolute;
    height: 70vh;
    z-index: 1;

}

.mainVisual .main_slide .slide01 {
    background: url(../img/mainSlide01.jpg) no-repeat center center/cover;
}

.mainVisual .main_slide .slide02 {
    background: url(../img/mainSlide02.jpg) no-repeat center center/cover;
}

.mainVisual .main_slide .slide03 {
    background: url(../img/mainSlide03.jpg) no-repeat center center/cover;
}

.mainVisual .main_slide .slide04 {
    background: url(../img/mainSlide05.jpg) no-repeat center center/cover;
}

.mainVisual .main_slide .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    top: 60px;
    left: 0%;
    text-shadow: 0px 0px 5px #f9f9f9;
}

.main_slide .inner h2 {
    display: block;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 30px 0;
    width: max-content;
    word-wrap: break-word;
}

.main_slide .inner p {
    display: block;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    width: max-content;
}

.main_slide .inner a {
    position: relative;
    width: max-content;
    display: block;
}

.main_slide .inner a:hover::after {
    position: absolute;
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background: #333;
}

.mainVisual .mainBtn {
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.mainVisual .mainBtn .visual_bottom {
    position: relative;
    background: #777;
    width: max-content;
    border: 1px solid #f1f1f1;
    border-radius: 20px;

}

.mainVisual .mainBtn .visual_bottom .slick_prev {
    background: url(../img/i_prev.svg) no-repeat center center/cover;
    width: 30px;
    height: 30px;
    margin: 0 50px 0 0;
    border: none;
    transition: 0.5s;
}

.mainVisual .mainBtn .visual_bottom .slick_prev:hover {
    transform: scale(1.4);
}

.mainVisual .mainBtn .visual_bottom .slick_next {
    background: url(../img/i_next.svg) no-repeat center center/cover;
    width: 30px;
    height: 30px;
    border: none;
    transition: 0.5s;
}

.mainVisual .mainBtn .visual_bottom .slick_next:hover {
    transform: scale(1.4);
}

.mainVisual .bannerWrap {
    background: url(../img/quickbooking__bg.svg);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 420px;
    width: 420px;
    height: 55px;
    overflow: hidden;
    transition: 0.5s;

    /* margin: -655px auto 0 1130px; */

    z-index: 999;
    opacity: 0.9;
    border-radius: 10px;
    top: 120px;
    right: 140px;
    transform: translate(-50%, 0%);

}

.mainVisual .bannerWrap:hover {
    height: 500px;
    opacity: 1;
}


.mainVisual .bannerWrap .quick_banner {
    position: relative;
    width: 400px;
    height: 500px;
    right: 10px;

}

.bannerWrap .quick_banner .banner_tit {
    display: flex;
    gap: 30px;
    margin: 10px auto;
    height: 35px;
}

.bannerWrap .quick_banner .banner_tit>span {
    flex: 1;
    border-radius: 10px;
    background: #fff;

    font-size: 17px;
    font-weight: 500;
    line-height: 33px;
    color: #333;
    text-align: center;
}

.bannerWrap .quick_banner .banner_tit a {
    display: block;
}

.bannerWrap .quick_banner .banner_main {
    position: relative;
    height: 205px;
    border-radius: 10px;
    background: #fff;
}

.bannerWrap .quick_banner .banner_main .bmain_header {
    display: flex;
    gap: 10px;
    justify-content: center;

    /* margin: 0 0 10px 0; */


}

.bannerWrap .quick_banner .bmain_header span {

    color: #333;

    /* padding: 10px 10px; */
    border-radius: 10px;

}




.bannerWrap .quick_banner .bmain_header a {
    display: block;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 10px;
    text-align: center;

}

.bannerWrap .quick_banner .banner_main .bmain_content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    height: 170px;

}

.quick_banner .banner_main .bmain_content .main_starting {
    flex: 1;
    flex-wrap: wrap;
    text-align: center;
    height: 140px;
    margin: 10px 0 10px 10px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.xi-catched {
    font-size: 30px;
    line-height: 160px;
}

.quick_banner .banner_main .bmain_content .main_arrive {
    flex: 1;
    flex-wrap: wrap;
    text-align: center;
    height: 140px;
    margin: 10px 10px 10px 0;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.main_starting span,
.main_arrive span {
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;

    padding: 5px 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
}

/* .main_starting span::after,
.main_arrive span::after {
    content: "";
    display: block;
    width: 70px;
    border-bottom: 1px solid #ddd;
    margin: 0 auto 0 auto;
} */

.main_starting p,
.main_arrive p {
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    padding: 5px 0;
    border-top: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
}

.main_starting p:hover,
.main_arrive p:hover {
    background: #ddd;
}

.main_starting a,
.main_arrive a {
    display: block;
}

.main_starting input,
.main_arrive input {
    display: block;
    width: 140px;
    height: 65px;
    font-size: 16px;
    text-align: center;
    border: none;
}

.main_starting input:focus,
.main_arrive input:focus {
    outline: none;
}

.quick_banner .banner_main .main_check {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 205px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    /* margin: 20px 0 0 0; */
    background: #fff;
    margin: 15px 0 0 0;
    border-radius: 10px;
    line-height: 40px;
}

.quick_banner .banner_main .main_check a {
    display: block;
}


.quick_banner .banner_main .main_check:hover {
    background: #ddd;
}

.quick_banner .banner_passenger {
    position: absolute;
    top: 315px;
    background: #fff;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 0 10px 0 10px;
    margin: 15px 0 0 0;
    line-height: 40px;
}

.quick_banner .banner_passenger:hover {
    background: #ddd;
}

.quick_banner .banner_passenger a {
    display: block;
}

.quick_banner .banner_passenger span:nth-child(2) {
    margin: 0 10px 0 270px;
    font-weight: 500;
}

.xi-users {
    display: inline-block;
    font-size: 20px;
    text-align: center;


}

.quick_banner .banner_seat {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    top: 370px;
    /* background: #f9f9f9; */
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-align: left;
    line-height: 40px;
    margin: 15px 0 0 0;
}

.banner_seat span {
    flex: 1;
    border-radius: 10px;
    background: #f9f9f9;

    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.banner_seat span a {
    display: block;

}

.banner_seat .on {
    background: #112339;
    border: 1px solid#ddd;
    color: #fff;
}

.quick_banner .banner_search {
    position: absolute;
    top: 425px;

    width: 100%;
    height: 40px;

    border-radius: 10px;

    background: #0064de;

    margin: 17.5px 0 0 0;
}

.banner_search a {
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 500;
}

.banner_search:hover {
    border: 1px solid #fff;

}

.mainReservation {
    padding: 100px 0;

}

.mainReservation .inner {
    position: relative;
    display: flex;
    /* gap: 30px; */
    justify-content: center;

    width: 1200px;
    /* height: 200px; */
    margin: 0 auto;
    background: url(../img/mainVisual01.png);

}

.mainReservation .inner .resrvation {

    flex: 1;
}


.mainReservation .inner .resrvation h2 {
    position: relative;
}

.mainReservation .inner .resrvation h2 a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0;
    color: #111;
}

.mainReservation .inner .resrvation h2 img {
    width: fit-content;
}


.mainReservation .inner .resrvation a::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 20px;
    border: 1px solid #ddd;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.mainReservation .inner .resrvation:nth-child(3) a::after {
    content: none;
}